# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions
name: 'Terraform on pull_request'

on:
  pull_request:

jobs:
  terraform:
    name: 'Run Terraform on pull-request'
    runs-on: ubuntu-latest
    env:
      TERRAFORM_CLOUD_TOKENS: app.terraform.io=${{ secrets.TF_API_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up S3cmd cli tool
        uses: s3-actions/s3cmd@v1.2.0
        with:
          provider: aws # default is linode
          region: 'eu-west-2'
          access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Recursively remove this s3 bucket folder
        run: |
          s3cmd rm --recursive --force s3://mpc2/${{ github.head_ref }}/

      - name: Copy first contribution to new branch folder
        run: |
          s3cmd cp s3://mpc2/firstContrib/burn_0000.zkey s3://mpc2/${{ github.head_ref }}/burn/burn_0000.zkey
          s3cmd cp s3://mpc2/firstContrib/tokenise_0000.zkey s3://mpc2/${{ github.head_ref }}/tokenise/tokenise_0000.zkey
          s3cmd cp s3://mpc2/firstContrib/transfer_0000.zkey s3://mpc2/${{ github.head_ref }}/transfer/transfer_0000.zkey
          s3cmd cp s3://mpc2/firstContrib/withdraw_0000.zkey s3://mpc2/${{ github.head_ref }}/withdraw/withdraw_0000.zkey
          s3cmd cp s3://mpc2/firstContrib/deposit_0000.zkey s3://mpc2/${{ github.head_ref }}/deposit/deposit_0000.zkey

      - name: Create branch workspace
        uses: dflook/terraform-new-workspace@v1
        with:
          workspace: ${{ github.head_ref }}

      - name: Deploy infrastrucutre
        uses: dflook/terraform-apply@v1
        id: test-infra
        with:
          variables: |
            BRANCH = "${{ github.head_ref }}"
            COMMITHASH = "${{ github.sha }}"
          workspace: ${{ github.head_ref }}
          auto_approve: true
